.active {
    background-color: cyan;
}

.cell {
    /* grid-column: auto;
    grid-row: auto; */
    border: 2px solid black; 
}

#container {
    /* background-color: blue; */
    display: grid; 
    height: 480px;
    width: 480px; 

}