* {
    font-family: Monaco; 
}

#parent {
    position: relative; 
    background-color: aliceblue;
    margin: auto;
    height: 600px;
    width: 600px; 
}

button {
    position: relative;
    background-color: white;
    border: solid grey 1.5px;
    margin: 0 auto; 
    display: inline-flex;
    top: 15px;
}

#button-wrapper {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    border: 0.5px solid black; 
}

#container {
    position: relative;
    display: grid; 
    height: 480px;
    width: 480px; 
    margin: auto; 
    top: 35px;
}